<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <bean class="springObjectBeanex4.springObjectBean.StudentClass" id="sc1">
    <property name="tr" ref="train2"/>
   </bean>
   
   <bean class="springObjectBeanex4.springObjectBean.Trainer" id="train1">
   <property name="t_id" value="121"/>
   <property name="t_name" value="Cristo"/>
   </bean>
   
   
   <bean class="springObjectBeanex4.springObjectBean.Trainer" id="train2">
   <property name="t_id" value="122"/>
   <property name="t_name" value="Ashiu"/>
   </bean>
   
   
   
   
   
   
   
   
   
   </beans>